<div class="container-fluid container-main container-chat">
    <%- include('tab-header', {
        title: 'Announcements',
        searchButton: true
    }) %> 
    
    <ul class="chat-message-list" id="messages">
        <!-- Messages will be dynamically inserted here -->
    </ul>
    <%- include('chat-input-form', { formId: 'postMessageForm', inputId: 'messageInput', placeholder: 'Type your announcement...' }) %>
</div>