<!-- chat-input-form.ejs -->
<form id="<%= formId %>" class="fixed-bottom-input">
    <div class="input-group">
      <input type="text" class="form-control" id="<%= inputId %>" placeholder="<%= placeholder %>" required>
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">
          <i class="fas fa-paper-plane"></i>
        </button>
      </div>
    </div>
  </form>