<div class="container-fluid container-main container-directory">
    <%- include('tab-header', {
      title: 'Direct Messages'
    }) %> 
    <ul class="esn-directory-list" id="dms">
        <!-- ESN Directory will be dynmically updated here -->
    </ul>
</div>
