<div class="container-fluid container-main container-chat">
    <%- include('tab-header', {
        title: 'Resources'
    }) %> 
    
    <ul class="chat-message-list" id="">
        <div class="resource-item" data-resource="volunteer-management">
          <div class="resource-item-header">
            <i class="fas fa-hands-helping"></i>
            <span class="resource-name">Manage Volunteers</span>
          </div>
          <div class="resource-item-text">Apply for or to be a volunteer</div>
        </div>
        <div class="resource-item" data-resource="resource-sharing-hub">
          <div class="resource-item-header">
            <i class="fas fa-share-alt"></i>
            <span class="resource-name">Resource Sharing</span>
          </div>
          <div class="resource-item-text">Request goods or help each other with donation</div>
        </div>
        <div class="resource-item" data-resource="shelter">
          <div class="resource-item-header">
            <i class="fas fa-home"></i>
            <span class="resource-name">Shelter List</span>
          </div>
          <div class="resource-item-text">Offer shelters for the people</div>
        </div>
        <div class="resource-item" data-resource="incident-map">
          <div class="resource-item-header">
            <i class="fas fa-map-marker-alt"></i>
            <span class="resource-name">Incident Map</span>
          </div>
          <div class="resource-item-text">View and update your vicinity</div>
        </div>
    </ul>
</div>