<div class="px-3 d-flex justify-content-between align-items-center">
    <div class="tab-header justify-content-start">
        <% if (typeof backButton !== 'undefined' && backButton) { %>
        <div class="pr-2" <% if (typeof backButtonTarget !== 'undefined') { %>onclick="homePage.loadTabContent('<%= backButtonTarget %>')"<% } %>>
            <span class="fa fa-arrow-left" id="closePrivateChatBtn"></span>
        </div>
        <% } %>
        <div>
        <span class="username" id="privateChatTarget"><%= title %></span>
        </div>
    </div>
    <% if (typeof searchButton !== 'undefined' && searchButton) { %>
      <button type="button" class="btn btn-sm btn-secondary ml-2" id="searchButton">
        <i class="fas fa-search"></i>
      </button>
    <% } %>
</div>
<div class="divider"></div>